{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% load static %}
{% block body %}
<div class="container-fluid justify-content-end">
  <div class="row main justify-content-between">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <h3 class="pageHeader"><i class="fa-solid fa-lock"></i>&nbsp;&nbsp;&nbsp; Change Password</h3>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <!-- <h5 class="formSection2"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;&nbsp;Client ID: 00001</h5>								 -->
    </div>
  </div>
        
        <div class="row sub justify-content-between">
            
            <div class="col-sm-12 col-md-8 col-lg-8">
                <form method="POST">
                    {% csrf_token %}
                      <div class="cardNewProject po animate slide delay-1">
                          <div class="row justify-content-between">
                              <div class="col-sm-12 col-md-12 col-lg-12">
                                  <br>
                                  <label for="companyName" class="form-label">Password</label>
                                  <div class="passwordEye">
                                    {{ form.new_password1 }}
                                      <!--span onclick="password_show_hide();">
                                          <i class="fas fa-eye" id="show_eye"></i>
                                          <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                                      </span-->
                                  </div>
                              </div>
                          </div>
  
                          <div class="row justify-content-between">
                              <div class="col-sm-12 col-md-12 col-lg-12">
                                  <br>
                                  <label for="companyName" class="form-label">Confirm Password</label>
                                  <div class="passwordEye">
                                    {{ form.new_password2 }}
                                      <!--span onclick="password_show_hide1();">
                                          <i class="fas fa-eye" id="show_eye1"></i>
                                          <i class="fas fa-eye-slash d-none" id="hide_eye1"></i>
                                      </span-->
                                  </div>
                              </div>
                          </div>
  
                      
                          <div class="row justify-content-between">
                              <div class="col-sm-12 col-md-12 col-lg-12">
                                  <br><br><br>
                                  <input class="btn btn-primary passButton po" type="submit" value="Change Password">
                              </div>
                          </div><br><br>
                      </div>
                </form>
            </div>

    <div class="col-sm-12 col-md-4 col-lg-4 illustration1"></div>
        </div>

  
  
  
  <br><br><br><br>
</div>

<div class="fixed-top animate pop delay-2">
  <div class="row alertRow justify-content-between">
    <div class="col-sm-12 col-md-4 col-lg-4"></div>
    <div class="col-sm-12 col-md-4 col-lg-4"></div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      {% if messages %}
        {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        {% endfor %}
        <br>
      {% endif %}
      {% if form.errors %}
        {% for error in form.errors.new_password2 %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        <br>
      {% endif %}
    </div>
  </div>
  
</div>
{% endblock body %}